* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;

  // add a border for design
  // border: 1px black solid;

  // text-transform: capitalize;

  --lightBlue: #3961b5;
  --green: #2e6117;
  --red: #853336;
  --purple: #462e5f;
  --bgk: #f4cc9c;
  --grey: #929798;
  --darkBlue: #191475;
}

a {
  color: inherit;
  text-decoration: none;
}

////////////////////////////
/// header, prose for responsive

h1 {
  text-transform: uppercase;
  color: var(--red);
  font-size: 3.125rem;
}

h2 {
  text-transform: uppercase;
  color: var(--red);
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
h5,
h6 {
}
//text
.font1 {
  font-family: "Mulish", sans-serif;
}

.font2 {
  font-family: "Poppins", sans-serif;
}

.font-content {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.text-center {
  text-align: center;
}
.capitalize {
  text-transform: capitalize;
}
.f-white {
  color: white;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

//width
.w-1\/2 {
  width: 50%;
}
.w-1\/3 {
  width: 33.333%;
}
.w-2\/3 {
  width: 66.666%;
}
.w-1\/4 {
  width: 25%;
}
.w-full {
  width: 100%;
}
.w-1\/5 {
  width: 20%;
}
//padding
// 1 0.25 4px,  2 0.5 8px,  3 0.75  12px,  4 1 16px,
// 5 1.25,  6 1.5,  7 1.75,  8 2,
// 9 2.25, 10 2.5, 11 2.75, 12 3,
// 13 3.25, 14 3.5, 15 3.75, 16 4,
// 17 4.25, 18 4.5, 19 4.75, 20 5,
//default font == 16px

.pt-4 {
  padding-top: 1rem;
}
.-mt-4 {
  margin-top: -1rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-8{
margin-bottom: 2rem;
}
.mb-16{
margin-bottom: 4rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pb-8 {
  padding-bottom: 2rem;
}
.pb-9 {
  padding-bottom: 2.25rem;
}
.pb-10 {
  padding-bottom: 2.5rem;
}
.pb-12 {
  padding-bottom: 3rem;
}
//flex

.pt-8 {
  padding-top: 2rem
}
.pt-12 {
  padding-top: 3rem
}
.pt-15 {
  padding-top: 3.75rem
}

.pt-16{
  padding-top: 4rem;
}
.pt-28{
  padding-top: 7rem;
}

.pb-15 {
  padding-bottom: 3.75rem;
}
.pb-16 {
  padding-bottom: 4rem;
}
.pb-28 {
  padding-bottom: 7rem;
}

.pl-8{padding-left: 2rem;}
.pr-8{padding-right: 2rem;}


.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}
.flex-row-re {
  flex-direction: row-reverse;
}

.flex-center {
  justify-content: center;
}
.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}

.btn {
  font-weight: 700;
  color: white;
  background-color: var(--red);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: inline-block;
  border-radius: 0.25rem;
  border: 1px solid var(--red);
  line-height: 1.75rem;
  &:hover {
    color: var(--red);
    background-color: transparent;
  }
}

//for the whole page container
.main {
}

//mainly for container that hold content.can be used to response
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  // padding-bottom: 2.5rem;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
///////////////////////////////////////
/// header
/// //////////////////////////////////
.header-wrapper {
  background: var(--red);
  .border-box {
    border-top: 4.84px var(--grey) solid;
    border-bottom: 4.84px var(--grey) solid;
    opacity: 50%;
  }
  .header {
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    max-width: 1280px;
    justify-content: space-between;

    .logo {
      width: 300px;
      height: 144px;
    }
    .navigation-holder {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: flex-end;
    }

    .navi-top {
      display: flex;
      height: 60px;
      margin-top: 10px;
      color: white;
      font-size: 1rem;

      a {
        height: 100%;
        line-height: 60px;
        padding: 22px;
        transition: 0.2s;
        font-weight: 700;
        &:hover {
          background-color: var(--grey);
        }
      }
    }
  }
}

.social-media {
  width: auto;
  justify-content: end;
  padding-right: 20px;

  li {
    margin-right: 12px;
  }
  .small-logo {
    --social-size: 25px;
    background-color: var(--red);
    color: white;
    border-radius: 50%;
    width: var(--social-size);
    height: var(--social-size);
    line-height: var(--social-size);
    font-size: 22px;
    text-align: center;
  }
}
//////////////////////////
/// main
/// //////////////////////////

.body-main * {
  // border: 1px black solid;
}

.main-picture {
  background-image: url(https://github.com/GoodEatGoodFat/Fullstack-practice/blob/heng-structure/assignment1/imgs/1_resized.png?raw=true);
  background-size: cover;
  background-position: right center;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .content {
    margin: 0 50px;
    color: white;
    // padding: 24px 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    // border-radius: 5px;

    .logan {
      font-weight: 600;
      font-size: 60px;
    }
    :nth-child(2) {
      background-color: var(--lightBlue);
    }
    :nth-child(3) {
      background-color: var(--purple);
    }
  }
}

.individual {
  .w-1\/2 {
    padding-left: 1rem;
    padding-right: 1rem;

    p {
      margin-bottom: 1.25rem;
    }
    .a-btn-wrapper {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }
}

.top-content {
  p {
    max-width: 630px;
    margin: auto;
  }

  .top-content__col {
    margin: 0 0 0 -24px;
    .c-1\/3-col {
      margin-bottom: 24px;
      width: 33.333333%;

      padding-left: 24px;

      .c-1\/3-col__img-wrapper {
        .c-1\/3-col__img{
          width: 100%;
          background-position: center;
          background-size: cover;
          // padding-bottom: 56.51%;
          border-radius: 10px;
          margin-bottom: 1.5rem;
          overflow: hidden;
        }
        .c-1\/3-col__img1 {
          // background-image: url(https://github.com/GoodEatGoodFat/Fullstack-practice/blob/heng-structure/assignment1/imgs/2_600x400.png?raw=true);
        }
        .c-1\/3-col__img2 {
          // background-image: url(https://github.com/GoodEatGoodFat/Fullstack-practice/blob/heng-structure/assignment1/imgs/2_600x400.png?raw=true);
        }
        .c-1\/3-col__img3 {
          // background-image: url(https://github.com/GoodEatGoodFat/Fullstack-practice/blob/heng-structure/assignment1/imgs/2_600x400.png?raw=true);
        }
      }
      .c-1\/3-col__copy {
        h3 {
          // display: inline-block;
          font-size: 1.5rem;
          margin-bottom: 10px;
          color: var(--red);
        }
        p {
          // display: inline-block;
          margin-bottom: 10px;
          color: var(--red);
        }
        a {
          // padding: 10px 20px;
          // margin: 8px 8px 0 0;
          display: inline-block;
        }
      }
    }
  }
}
/////////////////////////////////
/// divider
/// ////////////////////////////////
.divider__wrapper {
  background-image: url(https://github.com/GoodEatGoodFat/Fullstack-practice/blob/heng-structure/assignment1/imgs/bar.png?raw=true);
  background-position: center;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 4rem;
  .divider__content {
    width: 56rem;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    h2 {
      margin-bottom: 0.25rem;
    }
    p {
      margin-top: 1.3333333em;
      margin-bottom: 1.3333333em;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
}

hr.thin-bar {
  background-image: url(https://github.com/GoodEatGoodFat/Fullstack-practice/blob/heng-structure/assignment1/imgs/hr.png?raw=true);
  padding-bottom: 4.76%;
  background-color: red;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-size: 544px;
  background-size: contain;

  display: block;
  border: none;
  width: 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

///////////////////////////////
/// footer
/// ///////////////////////////
.footer {
  .border-box {
    border-top: 4.84px #636466 solid;
    border-bottom: 4.84px #636466 solid;
  }
  .footer__content {
    background-color: var(--red);
    .footer__container {
      padding: 2.5rem 2rem 1.5rem;
    }
  }
  .footer__container {
    h3 {
      margin-bottom: 1.25rem;
    }
    li {
      padding-bottom: 1.5rem;
    }
  }

  .terms {
    font-size: 0.75rem;
    li {
      margin-right: 1.5rem;
    }
  }
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

// underline effect
// content: "";
//     width: 0;
//     height: 1px;
//     background-color: #009abf;
//     position: absolute;
//     bottom: 1px;
//     left: 0;
//     transition: width .4s ease-in;
