.product__bg-picture {
  background-image: url(../imgs/bar2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.product__bg-picture .product__picture {
  padding-right: 1rem;
}
.product__bg-picture .product__picture .product__picture-holder {
  padding: 3rem 0;
}
.product__bg-picture .product__picture .product__picture-holder img {
  border-radius: 1rem;
}
.product__bg-picture .product__description {
  padding-left: 1rem;
}
.product__bg-picture .product__description h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}
.product__bg-picture .product__description p {
  color: white;
  font-weight: 400;
  margin-bottom: 40px;
  max-width: 65ch;
  line-height: 1.75rem;
}
.product__bg-picture .product__description .gluten-free {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  margin-bottom: 3rem;
}
.product__bg-picture .product__description .gluten-free .gluten-free__holder {
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: var(--red);
  font-size: 2rem;
  text-align: center;
  line-height: 50px;
  margin-right: 20px;
}

.find-us h3 {
  margin-bottom: 1.5rem;
}
.find-us .shops {
  display: inline-block;
  padding: 0.125rem 1rem;
  margin-right: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 2px solid var(--grey);
}
.find-us .shops a {
  display: inline-block;
}
.find-us .shops a .find-us__img-holder {
  width: 7rem;
}

.featured-in {
  margin-bottom: 4rem;
}
.featured-in .featured-in__header {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
}
.featured-in a {
  color: var(--red);
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  border: 2px solid var(--red);
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  border-radius: 9999px;
}
.featured-in .featured-in__btn {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: capitalize;
}

.single-product {
  padding: 0.5rem;
}
.single-product a {
  display: block;
  border-radius: 1rem;
  overflow: hidden;
}
.single-product .description {
  height: 4rem;
  background-color: #f3f4f6;
  line-height: 4rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--red);
  text-transform: uppercase;
}

.single-product {
  position: relative;
}
.single-product .single-product__cover {
  color: transparent;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-transform: capitalize;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.single-product .single-product__cover div:not(:first-child) {
  margin-top: 0.5rem;
}
.single-product .single-product__cover:hover {
  background-color: rgba(133, 51, 54, 0.85);
  color: white;
}
.single-product .recipe-cover-font {
  font-size: 0.75rem;
  line-height: 1rem;
}

.featured-in__header,
.single-recipe__product {
  color: var(--red);
  text-transform: capitalize;
}

#dropDownBtn {
  font-size: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red);
  color: white;
  border-radius: 5px;
  padding: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
#dropDownBtn .fa-minus {
  display: none;
}

#dropDownBtn__content {
  background-color: #f3f4f6;
  border-radius: 5px;
  height: 0px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.3s;
  transition-timing-function: ease;
  display: block;
  overflow: hidden;
}
#dropDownBtn__content #content_inner {
  padding: 2rem;
}

.single-recipe__description {
  border-bottom: 1px solid var(--red);
  padding-bottom: 2.25rem;
  margin-bottom: 2.25rem;
}

.prep-cook-serv :not(:first-child) {
  padding-left: 2rem;
}

.single-recipe__head,
.single-recipe__image {
  background-color: #f3f4f6;
}

.single-recipe__image {
  position: relative;
  z-index: 0;
}
.single-recipe__image::after {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 0;
}
.single-recipe__image .container {
  position: relative;
  z-index: 1;
}